@import "./colors.scss";

ul.logos {
  list-style-type: none;
  display: grid;
  grid-template-columns: 150px 150px 150px 150px 150px;
  align-self: center;

  li {
    margin: 10px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
    background-color: $light-grey;
    img {
      width: 100%;
      object-fit: contain;
    }
  }
}

@media (max-width: 800px) {
  ul.logos {
    grid-template-columns: 150px 150px 150px;
  }
}

@media (max-width: 800px) {
  ul.logos {
    width: 200px;
    max-width: 90%;
    grid-template-columns: 100%;
  }
}
