$base-color: #32b386;
$base-color-lighter: #e8f9f3;
$base-color-light: #20c58b;
$base-color-dark: #5e8779;
$base-color-darker: #06271b;
$base-color-unsat-light: #b4beba;
$base-color-unsat-lighter: #e6e9e8;

//

$app-green-dim: #ccece1;
$app-green-light: #98d9c3;
$app-green: #32b386;
$app-green-somber: #2a9570;
$app-green-dark: #217759;

$app-red-dim: #ecccd7;
$app-red-light: #d998af;
$app-red: #b3325f;
$app-red-somber: #952a4f;
$app-red-dark: #77213f;

$app-orange-dim: #f7e6cd;
$app-orange-light: #eecd9a;
$app-orange: #de9a35;
$app-orange-somber: #b9802c;
$app-orange-dark: #946723;

$app-grey-green-dim: #d9e7e2;
$app-grey-green-light: #cae0d8;

$app-grey-red-dim: #e6dbdf;
$app-grey-red-light: #e0cad2;

$grey: #777;
$dark-grey: #444;
$light-grey: #e3e3e3;
$dim-grey: #eee;
$white: #fff;

$shadow-color: rgba(0, 0, 0, 0.3);
