$base-color: #32B386; //#3EC9A7;
$base-color-light: #9BC7B8; //#DAEDE9;

$image-dim-color: rgba(100,100,100,0.7);
//$base-color-light-transparent: rgba(155, 199, 184, 0.7);//rgba(218,237,233,0.7);

$shadow-color: rgba(0,0,0,0.3);

$dark-grey: #777;