$base-color: #32b386;
$base-color-lighter: #e8f9f3;
$base-color-light: #20c58b;
$base-color-dark: #5e8779;
$base-color-darker: #06271b;
$base-color-unsat-light: #b4beba;
$base-color-unsat-lighter: #e6e9e8;

$app-red: #b3325f;
$app-orange: #de9a35;

$grey: #777;
$dark-grey: #444;
$light-grey: #e3e3e3;
$white: #fff;

$shadow-color: rgba(0, 0, 0, 0.3);
