@import "./colors.scss";

div.full-screen {
  height: 100vh;
}

//

header.home-header {
  position: fixed;
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80px;
  padding: 0 15px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  a {
    color: $white;
    transition: all 0.15s linear;
    font-weight: bold;
    text-decoration: none;
    &:hover {
      transform: translateY(-3px);
    }
  }

  a.home-link {
    font-size: 36px;
    margin-left: 10px;
  }

  nav {
    div.menu-widescreen {
      display: flex;
      flex-direction: row;
      a.header-link {
        padding: 0px 5px;
        display: flex;
        align-items: center;
        margin-left: 10px;

        p {
          margin-left: 5px;
        }
      }
    }

    button.menu-button {
      background-color: transparent;
      box-shadow: none;
      color: $white;
      outline: none;
      cursor: pointer;
      display: none;
      font-size: 30px;
    }
  }
}

header.scrolled {
  background-color: $base-color;
}

//

div.landing-jumbo {
  background-image: url("../assets/homebg.jpg");
  background-size: auto 100vh;
  background-attachment: fixed;

  div.landing-background {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    width: 100%;
    height: 100%;
    //backdrop-filter: blur(3px);

    div.landing-inner {
      width: 100%;
      max-width: 600px;
      margin: 40px;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      z-index: 12;

      h1,
      h3 {
        color: $white;
        text-align: center;
        text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.6);
      }

      div.searchbar-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 40px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
        border-radius: 8px;

        input {
          flex-grow: 1;
          padding: 20px;
          font-size: 20px;
          border-top-right-radius: 0px;
          border-bottom-right-radius: 0px;
          box-shadow: none;
          background-color: $white;
        }

        a {
          button {
            font-size: 20px;
            padding: 20px 30px;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
            box-shadow: none;
            background-color: $app-green-somber;
            color: $white;
            transition: all 0.15s linear;

            &:hover {
              transform: none;
            }
          }
        }

        a.disabled-link {
          pointer-events: none;

          button {
            color: $dark-grey;
            background-color: $white;
          }
        }
      }

      div.search-suggestions-wrapper {
        position: relative;
        margin-top: 5px;
        height: 170px;
        div.search-suggestions {
          position: relative;
          top: 0;
          left: 0;
          background-color: $white;
          border-radius: 8px;
          padding: 10px 20px;
          font-size: 18px;
          opacity: 1;
          transition: opacity 0.15s linear;
          display: flex;
          flex-direction: column;
          align-items: center;
          a.option {
            flex-grow: 1;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            align-self: stretch;
            height: 50px;
            text-decoration: none;
            color: $dark-grey;
            transition: color 0.1s linear;
            &:not(:last-child) {
              border-bottom: 1px solid $light-grey;
            }
            &:hover {
              color: $app-green;
            }
          }
        }
      }
    }

    div.landing-inner.search-empty {
      div.search-suggestions-wrapper {
        opacity: 0;
        pointer-events: none;
      }
    }
  }
}

//

div.search-jumbo {
  background-color: $white;
  padding: 200px 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;

  div.content-left {
    flex-basis: 300px;
    margin-right: 140px;
    h2,
    h4 {
      text-align: left;
    }
    h2 {
      color: $base-color;
    }
  }

  div.content-right {
    flex-basis: 250px;
    margin-left: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    select,
    button {
      font-size: 18px;
    }

    select {
      margin-bottom: 20px;
      background-color: $light-grey;
      color: $dark-grey;
      width: 280px;
    }

    button {
      background-color: $base-color;
      color: $white;
      width: 280px;
    }
  }
}

//

div.red-stripes {
  align-self: stretch;
  height: 40px;
  background: repeating-linear-gradient(
    -45deg,
    $app-red-dim,
    $app-red-dim 15px,
    $white 15px,
    $white 30px
  );
}

div.emergency-jumbo {
  background-color: $white;
  padding: 80px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2,
  h3 {
    text-align: center;
  }
  h2 {
    color: $app-red;
  }

  p {
    max-width: 400px;
    text-align: center;
    font-size: 18px;
  }

  div.emergency-initiatives {
    display: flex;
    flex-direction: row;
    max-width: 900px;
    width: 100%;
    margin-top: 30px;

    a.initiative-card {
      background-color: $light-grey;
      border-radius: 8px;
      cursor: pointer;
      margin: 10px;
      flex-basis: 30%;
      transition: all 0.15s linear;
      display: flex;
      flex-direction: column;
      text-align: left;
      text-decoration: none;
      overflow: hidden;
      position: relative;

      &:hover {
        transform: translateY(-3px);
        h4.name {
          color: $white;
          background-color: $app-red;
        }

        p.location {
          color: $app-red-dim;
        }

        div.hover-effect {
          height: 100%;
          background-color: $app-red;
        }
      }

      div.hover-effect {
        position: absolute;
        top: 0;
        left: 0;
        background-color: $app-red-somber;
        width: 100%;
        height: 0%;
        transition: all 0.25s ease;
        z-index: 1;
      }

      h4.name {
        padding: 20px;
        margin-bottom: 0px;
        color: $white;
        flex-basis: 50%;
        font-size: 18px;
        background-color: $app-red-somber;
        transition: background-color 0.15s linear;
        z-index: 3;
      }

      p.location {
        bottom: 10px;
        padding: 20px;
        padding-bottom: 10px;
        font-size: 18px;
        color: $grey;
        margin-top: 30px;
        margin-bottom: 0px;
        text-align: left;
        transition: color 0.15s linear;
        z-index: 2;
        position: sticky;
      }

      img {
        position: absolute;
        height: 55px;
        right: 15px;
        bottom: 20px;
        z-index: 80;
      }
    }
  }
}

//

div.about-jumbo {
  background-color: $white;
  margin: 80px 0px;
  height: 550px;
  position: relative;

  img {
    position: absolute;
    top: 50%;
    left: 0;
    width: 50%;
    transform: translateY(-50%);
    pointer-events: none;
  }

  div.text {
    width: 30%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: 80px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    h2,
    h4 {
      text-align: left;
      color: $grey;
    }

    h4 {
      margin-top: 20px;
      margin-bottom: 40px;
    }

    span.highlight {
      color: $app-green;
    }

    button.button-green {
      font-size: 20px;
      color: $grey;
    }
  }
}

//

div.collaborate-jumbo {
  background-color: $white;
  margin: 50px 0px;
  padding: 0 100px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    color: $grey;
  }

  div.collaboration-options {
    display: flex;
    flex-direction: row;
    justify-content: center;

    div.option {
      flex-basis: 180px;
      margin: 40px 100px 0px;
      display: flex;
      flex-direction: column;
      align-items: center;

      h4 {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
        flex-grow: 1;
        color: $grey;
      }

      img {
        pointer-events: none;
        height: 150px;
      }

      button {
        align-self: stretch;
        background-color: $base-color;
        color: $white;
        font-size: 20px;
      }
    }
  }
}

//

div.photos-jumbo {
  background-color: $light-grey;
  padding: 200px 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;

  div.content-left {
    flex-basis: 300px;
    margin-right: 100px;
    color: $grey;
    display: flex;
    flex-direction: column;

    div.title {
      display: flex;
      width: 100%;
      align-self: stretch;

      svg {
        width: 70px;
        height: 70px;
        fill: $app-red;
        filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.2));
        margin-right: 20px;
      }

      h2:after {
        content: "";
        height: 2px;
        background-color: $app-red;
        width: 100%;
        display: block;
        margin-top: 10px;
      }
    }
  }

  div.content-right {
    flex-basis: 400px;
    align-self: stretch;
    margin-left: 100px;

    div.photo-wrapper {
      width: 100%;
      height: 100%;
      min-height: 300px;
      background-image: url("../assets/placeholderphoto.jpg");
      background-size: cover;
    }
  }
}

//

div.statistics-jumbo {
  background-color: $white;
  padding: 150px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    color: $grey;
  }

  div.statistics-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;

    div.statistic {
      flex-basis: 180px;
      margin: 40px 100px 0px;
      display: flex;
      flex-direction: column;
      align-items: center;

      h1 {
        text-align: center;
        margin-bottom: 20px;
        color: $base-color;
      }

      h4 {
        text-align: center;
        color: $grey;
      }
    }
  }
}

//

div.contact-jumbo {
  background-color: $white;
  padding: 150px 100px 230px;
  display: flex;
  flex-direction: row;
  justify-content: center;

  div.content-left {
    flex-basis: 350px;
    margin-right: 100px;
    color: $dark-grey;
    span {
      color: $app-green;
      font-weight: bold;
    }
  }

  form.content-right {
    flex-basis: 450px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    input,
    textarea {
      font-size: 15px;
    }

    textarea {
      margin-top: 10px;
      flex-grow: 1;
    }

    input[type="submit"] {
      margin-top: 10px;
      font-size: 20px;
      background-color: $app-green;
      color: $white;
      cursor: pointer;
      transition: all 0.15s linear;
      &:hover {
        transform: translateY(-3px);
      }
    }
  }
}

//
//

@keyframes float {
  0% {
    transform: translateY(-5px);
  }

  48% {
    transform: translateY(5px);
  }

  50% {
    transform: translateY(5px);
  }

  98% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(-5px);
  }
}

//
//

@media (max-width: 1100px) {
  header.home-header > nav > div.menu-widescreen {
    display: none;
  }

  div.menu-dropdown {
    display: flex;
    position: fixed;
    flex-direction: column;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;

    a {
      background-color: $base-color;
    }
  }

  header.home-header > nav > button.menu-button {
    display: inline;
  }
}

@media (max-width: 850px) {
  div.search-jumbo {
    flex-direction: column;
    div.content-left {
      margin-right: 0;
      margin-bottom: 30px;
      flex-basis: 0;
    }
    div.content-right {
      margin-left: 0;
      select {
        width: 100%;
      }

      button {
        width: 100%;
      }
    }
  }

  div.emergency-jumbo {
    div.emergency-initiatives {
      max-width: 300px;
      flex-direction: column;
      align-items: stretch;
      a {
        margin-bottom: 40px !important;
      }
    }
  }

  div.about-jumbo {
    img {
      width: 0px;
    }
    div.text {
      position: unset;
      top: unset;
      left: unset;
      transform: unset;
      width: auto;
      margin: 100px;
      button {
        width: 100%;
      }
    }
  }

  div.collaborate-jumbo {
    margin-top: 50px;

    h2 {
      margin-bottom: 50px;
    }

    div.collaboration-options {
      flex-direction: column;

      div.option {
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 50px;
      }
    }
  }

  div.contact-jumbo {
    flex-direction: column;

    div.content-left {
      margin-right: 0px;
      flex-basis: unset;
      margin-bottom: 50px;
    }
  }
}

@media (max-width: 550px) {
  header.home-header {
    a.home-link {
      font-size: 25px;
    }
  }

  div.landing-jumbo {
    h1 {
      font-size: 30px;
    }

    h3 {
      font-size: 20px;
    }

    input {
      width: 100%;
    }

    div.landing-background {
      div.landing-inner {
        margin-right: 20px;
        margin-left: 20px;
        margin-bottom: 20px;
        margin-top: 60px;
      }
    }
  }
  div.search-jumbo,
  div.emergency-jumbo,
  div.about-jumbo,
  div.collaborate-jumbo,
  div.contact-jumbo {
    padding-left: 40px;
    padding-right: 40px;
  }

  div.about-jumbo > div.text {
    margin-left: 0px;
    margin-right: 0px;
  }
}
