@import "./colors.scss";

//

h1.section-title {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 40px;
}

div.main-wrapper {
  width: 880px;
  max-width: 90%;
  margin: 40px auto 0 auto;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 15px;
  grid-row-gap: 15px;

  div.name {
    background-color: $app-orange;
    width: 100%;
    color: $white;
    border-radius: 8px;
    grid-column: 1 / 3;
    position: relative;

    h3 {
      padding: 30px;
      margin-bottom: 0px;
    }

    img {
      height: 60px;
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  div.details {
    background-color: $light-grey;
    border-radius: 8px;
    padding: 30px;

    h4 {
      margin-bottom: 10px;
    }

    p {
      margin-bottom: 10px;
      svg {
        margin-right: 10px;
      }
    }

    p.last-update {
      color: #aaa;
      font-size: 14px;
      //font-style: italic;
    }

    span.emergency-notice {
      color: $app-red;
    }
  }

  div.map-wrapper {
    background-color: $grey;
    margin-left: 0;
    border-radius: 8px;
    overflow: hidden;
    height: 400px;
    position: relative;

    p {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      color: $white;
    }
  }

  div.schedule {
    grid-column: 1 / 3;
    background-color: $light-grey;
    border-radius: 8px;
    padding: 30px;
    margin-bottom: 120px;

    div.schedule-table {
      display: grid;
      grid-template-columns: 9% 13% 13% 13% 13% 13% 13% 13%;
      grid-template-rows: 30px;
      position: relative;

      p.day {
        text-align: center;
      }

      div.row {
        grid-column: 1 / 9;
        height: 25px;
        display: flex;
        align-items: center;
        p {
          flex-basis: 9%;
          padding-left: 10px;
        }

        div {
          flex-basis: 91%;
        }
      }

      div.row-even {
        background-color: $white;
        border-radius: 5px;
      }

      div.schedule-timing {
        position: absolute;
        width: 13%;
        height: 50px;
        top: 0;
        left: 0;
        display: flex;
        div.schedule-timing-inner {
          background-color: rgba(222, 154, 53, 0.7);
          border-radius: 8px;
          margin: 2px;
          padding: 10px;
          font-size: 12px;
          flex-grow: 1;
          align-self: stretch;
          transition: background-color 0.15s linear;
        }

        &:hover {
          cursor: pointer;
          div.schedule-timing-inner {
            background-color: $app-orange;
          }
        }
      }
    }
  }
}

div.emergency {
  div.name {
    background-color: $app-red;
  }
}

//
//
//
//
//

//
//
