@import "./colors.scss";

div.view-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100vh;
  width: 100%;
}

div.searchbar {
  margin-top: 50px;
  margin-bottom: 40px;
  display: grid;
  align-self: center;
  grid-template-columns: 90px 90px 90px 90px 90px 90px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  input {
    font-size: 18px;
  }

  button {
    box-shadow: none;
    background-color: transparent;
    color: $dark-grey;
    text-align: left;
    font-size: 18px;
    padding-left: 0px;
    text-decoration: underline;
    &:hover {
      transform: none;
      color: $app-green;
    }
  }

  div.name-input {
    grid-column: 1 / 6;
  }

  div.select {
    grid-column: span 2;
  }

  div.field-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-size: 18px;

    label {
      margin-bottom: 8px;
    }

    select {
      font-size: 18px;
    }
  }

  a {
    text-decoration: none;
    button {
      width: 100%;
      height: 100%;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0px;
      &:hover {
        transform: translateY(-3px);
      }
    }
  }
}

/* ------------------ */

div.results-container {
  align-self: center;
  width: 900px;
  max-width: 90%;
  margin-bottom: 150px;
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  animation: appear 0.5s ease both;

  p.no-results {
    grid-column: 1 / 4;
    text-align: center;
    color: $app-red;
  }

  a.initiative-card {
    background-color: $light-grey;
    border-radius: 8px;
    cursor: pointer;
    margin: 10px;
    transition: all 0.15s linear;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    overflow: hidden;
    position: relative;

    &:hover {
      transform: translateY(-3px);
      h4.name {
        color: $white;
        background-color: $app-orange;
      }

      p.location {
        color: $app-orange-dim;
      }

      div.hover-effect {
        height: 100%;
        background-color: $app-orange;
      }
    }

    div.hover-effect {
      position: absolute;
      top: 0;
      left: 0;
      background-color: $app-orange-somber;
      width: 100%;
      height: 0%;
      transition: all 0.25s ease;
      z-index: 1;
    }

    h4.name {
      padding: 20px;
      margin-bottom: 0px;
      color: $white;
      flex-basis: 50%;
      font-size: 18px;
      background-color: $app-orange-somber;
      transition: background-color 0.15s linear;
      z-index: 3;
    }

    p.location {
      bottom: 10px;
      padding: 20px;
      padding-bottom: 10px;
      font-size: 18px;
      color: $grey;
      margin-top: 30px;
      margin-bottom: 0px;
      transition: color 0.15s linear;
      z-index: 2;
      position: sticky;
    }

    a {
      flex-grow: 1;
      transition: all 0.15s linear;
      button {
        width: 100%;
        background-color: $app-green;
        color: $white;
        margin-top: 20px;
      }
    }

    img {
      position: absolute;
      height: 55px;
      right: 15px;
      bottom: 20px;
      z-index: 80;
    }
  }

  a.emergency {
    h4.name {
      background-color: $app-red-somber;
    }

    div.hover-effect {
      background-color: $app-red-somber;
    }

    &:hover {
      h4.name {
        background-color: $app-red;
      }
      p.location {
        color: $app-red-dim;
      }

      div.hover-effect {
        background-color: $app-red;
      }
    }
  }
}

/* Responsiveness */

@media (max-width: 900px) {
}

@media (max-width: 1200px) {
}

/* Animations */

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
