@import './colors.scss';


div.view-container {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	min-height: 100vh;
	width: 100%;
}

input.searchbar {
	max-width: 500px;
	width: 100%;
	margin-top: 50px;
	margin-bottom: 40px;
	align-self: center;
}

/* ------------------ */

div.results-container {
	align-self: center;
}

div.initiatives-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: auto;
	margin-right: auto;
	display: grid;
	grid-template-columns: 260px 260px 260px 260px;
	animation: appear 0.5s ease both;

	div.initiative-card {
		width: 200px;
		margin: 10px;
		padding: 20px;
		background-color: $white;
		border-radius: 8px;
		box-shadow: 0px 2px 4px rgba(0,0,0,0.5);
		cursor: pointer;
		position: relative;
		transition: all 0.15s linear;
		display: flex;
		flex-direction: column;

		&:hover {
			background-color: $white;
			margin-top: 7px;
			margin-bottom: 13px;

			a {
				opacity: 1;
			}

			div.info > h4:after {
				width: 100%;
			}
		}

		div.info {
			flex-grow: 1;

			h4 {
				color: $dark-grey;
				&:after {
					content: '';
					align-self: stretch;
					display: block;
					margin-top: 10px;
					height: 2px;
					width: 0%;
					background-color: $base-color;
					transition: all 0.15s linear;
				}
			}

			p {
				color: $grey;
				margin: 0;
				margin-bottom: 5px;
			}

			div.initiative-category {
				display: flex;
				flex-direction: row;
				align-items: center;

				p.icon {
					margin-right: 10px;
				}
			}
		}

		a {
			opacity: 0;
			align-self: stretch;
			transition: all 0.15s linear;
			button {
				width: 100%;
				background-color: $base-color;
				color: $white;
				margin-top: 20px;
			}
		}

		div.emergency-badge {
			position: absolute;
			top: 24px;
			left: -10px;
			background-color: $app-red;
			width: 20px;
			height: 20px;
			border-radius: 50%;
			box-shadow: 2px 2px 3px rgba(0,0,0,0.4);
		}
	}

	div.emergency {
		h4:after {
			background-color: $app-red !important;
		}

		a > button {
			background-color: $app-red !important;
		}
	}
}


/* Responsiveness */

@media (max-width: 900px) {

}

@media (max-width: 1200px) {

}


/* Animations */

@keyframes appear {
	from {
		opacity: 0;
		transform: translateY(-10px);
	}

	to {
		opacity: 1;
		transform: translateY(0px);
	}
}