@import "./styles/colors.scss";

/* General */
/* ------------------------------------- */

body {
  font-family: "Varela", sans-serif;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 15px;
  font-family: "Varela", sans-serif;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
}

p {
  margin-bottom: 0;
}

input,
select,
button,
textarea {
  background-color: $light-grey;
  border: none;
  border-radius: 8px;
  padding: 15px;
  font-family: "Varela", sans-serif;
  outline: none;
}

textarea {
  resize: none;
}

select,
button {
  cursor: pointer;
}

button {
  transition: all 0.2s ease;
}

button:hover {
  transform: translateY(-3px);
}

/* Buttons per color */
button.button-green {
  background-color: $app-green !important;
  color: $white !important;
}

button.button-red {
  background-color: $app-red !important;
  color: $white !important;
}

button.button-orange {
  background-color: $app-orange !important;
  color: $white !important;
}

/* Button as link */

button.button-link {
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: #000;
  font-family: "Varela", sans-serif;
  padding: 0;
  outline: none;
  text-decoration: underline;
  transition: all 0.1s linear;
}

button.button-link:hover {
  color: $base-color;
  cursor: pointer;
}

button.button-link:active {
  transform: translateY(3px);
}

div.view-container {
  min-height: calc(100vh-80px);
  position: relative;
}

div.loader {
  align-self: center;
  border: 5px solid $light-grey;
  border-top: 5px solid $app-red;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  margin: 20px;
  animation: spin 0.9s cubic-bezier(0.25, 1, 0.5, 1) infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Modals */
/* ------------------------------------- */

div.modal-view {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 3000;
  display: flex;
  align-items: center;
  justify-content: center;

  div.modal-wrapper {
    background-color: $white;
    border-radius: 5px;
    box-shadow: 0px 2px 4px $shadow-color;
    padding: 40px;
    position: relative;
    width: 80%;
    max-width: 400px;

    button.close {
      position: absolute;
      top: 5px;
      right: 5px;
      font-size: 20px;
      background-color: transparent;
      box-shadow: none;
      &:hover {
        color: $app-red;
      }
    }

    h2 {
      font-size: 25px;
    }

    p {
      margin-top: 15px;
    }

    svg {
      margin-right: 10px;
    }

    a {
      color: $app-green-dark;
      transition: all 0.15s linear;
      &:hover {
        color: $app-green;
      }
    }

    span.highlight {
      color: $app-green;
      font-weight: bold;
    }
  }
}

/* Main header */
/* ------------------------------------- */

/* For desktop */

header.main-header {
  align-items: center;
  background-color: $base-color;
  display: flex;
  flex-direction: row;
  position: sticky;
  justify-content: space-between;
  height: 80px;
  padding: 0 15px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2000;

  a {
    color: $white;
    transition: all 0.15s linear;
    font-weight: bold;
    text-decoration: none;
    &:hover {
      transform: translateY(-3px);
    }
  }

  a.home-link {
    font-size: 36px;
    margin-left: 10px;
  }

  nav {
    div.menu-widescreen {
      display: flex;
      flex-direction: row;
      a.header-link {
        padding: 0px 5px;
        display: flex;
        align-items: center;
        margin-left: 10px;

        p {
          margin-left: 5px;
        }
      }
    }
  }

  button.menu-button {
    background-color: transparent;
    box-shadow: none;
    color: $white;
    outline: none;
    cursor: pointer;
    display: none;
    font-size: 30px;
  }
}

div.menu-dropdown {
  display: none;
  height: 100vh;
  animation: dropdown-appear 0.2s ease-out both;

  a.dropdown-link,
  button.dropdown-link {
    padding: 30px;
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    background-color: $base-color;
    box-shadow: none;
    border-radius: 0px;
    color: $white;
    text-decoration: none;
    cursor: pointer;

    p {
      transition: all 0.15s linear;
    }

    &:hover {
      transform: none;
      p {
        margin-left: 10px;
      }
    }
  }

  button.dropdown-dim {
    flex-grow: 1;
    border-radius: 0;
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.1);
    //backdrop-filter: blur(2px);
    &:hover {
      transform: none;
    }
  }
}

/* Main footer */
/* ------------------------------------- */

footer.main-footer {
  background-color: $base-color-darker;
  height: 150px;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: -70px;
  width: 100%;

  div.social-links {
    margin: 30px;
    a {
      font-size: 30px;
      color: $base-color-unsat-light;
      transition: all 0.15s linear;
      margin-right: 15px;

      &:hover {
        color: $base-color-unsat-lighter;
      }
    }
  }

  div.info {
    text-align: right;
    font-size: 18px;
    margin: 30px;

    p {
      color: $base-color-unsat-light;
      margin: 0;
      margin-bottom: 10px;
    }

    a {
      color: $base-color-unsat-light;
      transition: all 0.15s linear;
      &:hover {
        color: $base-color-unsat-lighter;
      }
    }
  }
}

/* Admin-header */
/* ------------------------------------- */
header.admin-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #fff;
  height: 80px;
  margin-top: -80px;
  margin-bottom: -80px;
  padding: 0px 30px;

  h3 {
    flex-grow: 1;
    font-size: 20px;
  }

  a {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    transition: all 0.15s linear;
  }

  a:hover {
    color: $dark-grey;
  }
}

/* Info page */
/* ------------------------------------- */

div.info-page {
  padding: 20px 70px 70px 70px;
  margin-bottom: 90px;

  h3 {
    color: $base-color;
    margin-bottom: 40px;
    margin-top: 50px;
  }

  p {
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
    line-height: 25px;
  }

  ul > li {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

// Needed for leaflet maps
.leaflet-container {
  width: 100%;
  height: 100%;
}

/* For smaller resolutions */

@media (max-width: 1100px) {
  header.main-header > nav > div.menu-widescreen {
    display: none;
  }

  header.main-header button.menu-button {
    display: inline;
  }

  div.info-page {
    padding: 0px 40px 40px 40px;

    p {
      margin-left: 0px;
      margin-right: 0px;
    }
  }
}

//
//

@keyframes dropdown-appear {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

/*.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}*/
